<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="me.aeolwyr.lyrics">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".MusicBroadcastReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.android.music.metachanged" />
                <action android:name="com.android.music.playstatechanged" />
                <!-- last.fm compatible players (e.g. Pulsar) -->
                <action android:name="fm.last.android.metachanged" />
                <!-- HTC Music Player -->
                <action android:name="com.htc.music.metachanged" />
                <action android:name="com.htc.music.playstatechanged" />
                <!-- Rocket Music Player -->
                <action android:name="com.jrtstudio.AnotherMusicPlayer.metachanged" />
                <action android:name="com.jrtstudio.AnotherMusicPlayer.playstatechanged" />
                <!-- Music Player (JRT Studios) -->
                <action android:name="com.jrtstudio.music.metachanged" />
                <action android:name="com.jrtstudio.music.playstatechanged" />
                <!-- PlayerPro Music Player -->
                <action android:name="com.tbig.playerpro.metachanged" />
                <action android:name="com.tbig.playerpro.playstatechanged" />
                <action android:name="com.tbig.playerprotrial.metachanged" />
                <action android:name="com.tbig.playerprotrial.playstatechanged" />
            </intent-filter>
        </receiver>
    </application>

</manifest>
